<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PhotoStudio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li *ngIf="logged==false " class="nav-item " routerLinkActive="active ">
            <a class="nav-link " routerLink="login">Inicio de Sesion</a>
        </li>
        <li *ngIf="logged==true " (click)="closeSession() " class="nav-item " routerLinkActive="active ">
            <a class="nav-link " routerLink="home">Cerrar Sesion</a>
        </li>
        <li  *ngIf="logged==true " class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mis eventos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let event of events">
                  <a   (click)="goToEvent($event,event.id)" class="dropdown-item">{{event.name}}</a>
              </li>
            </ul>
      </li>   
        </ul>
      </div>
    </div>
  </nav>